<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IPlatformUsageDataCollector"
                    transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_IUserInfoService" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_IOpsConsoleService" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_IOpsConsoleService1" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_IUserInfoService1" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://iplatformusagedatacollector/9e6a44e5-17f0-4cd9-9ce9-d9923cf3cbe8"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IPlatformUsageDataCollector"
                contract="PlatformUsageDataCollector.IPlatformUsageDataCollector"
                name="NetNamedPipeBinding_IPlatformUsageDataCollector" />
            <endpoint address="net.pipe://opsconsoleservice/d45a0e59-9d2a-4dc1-8267-756ca3f7b19f"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOpsConsoleService"
                contract="OpsConsoleService.IOpsConsoleService" name="NetNamedPipeBinding_IOpsConsoleService" />
            <endpoint address="net.pipe://userinfoservice/0c88d67a-b5a9-4720-98bd-f729d201645e"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IUserInfoService"
                contract="UserInfoService.IUserInfoService" name="NetNamedPipeBinding_IUserInfoService" />
            <endpoint address="net.pipe://opsconsoleservice/ef1cd2a9-541f-4f18-bd19-de36e56be6b9"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOpsConsoleService1"
                contract="OpsConsoleService.IOpsConsoleService" name="NetNamedPipeBinding_IOpsConsoleService1" />
            <endpoint address="net.pipe://userinfoservice/3e2d8b9d-69b7-40c6-bd03-d24c640998ef"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IUserInfoService1"
                contract="UserInfoService.IUserInfoService" name="NetNamedPipeBinding_IUserInfoService1" />
        </client>
    </system.serviceModel>
</configuration>