<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IPlatformUsageDataCollector">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IPlatformUsageDataCollector"
                    transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_IOpsConsoleService" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_IAppHits" transferMode="Streamed">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://datacollectorservice/e76f4f48-33ec-4f15-bd0e-e06d4ff4573f"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IPlatformUsageDataCollector"
                contract="DataCollectorService.IPlatformUsageDataCollector"
                name="NetNamedPipeBinding_IPlatformUsageDataCollector" />
            <endpoint address="autobus://./2f5c4514-384c-4c8c-b827-b3300f205226"
                binding="customBinding" bindingConfiguration="CustomBinding_IPlatformUsageDataCollector"
                contract="DataCollectorService.IPlatformUsageDataCollector"
                name="CustomBinding_IPlatformUsageDataCollector" />
            <endpoint address="net.pipe://opsconsoleservice/b1bac4c9-d3f6-44e8-99ee-98137524f18b"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOpsConsoleService"
                contract="OpsConsoleService.IOpsConsoleService" name="NetNamedPipeBinding_IOpsConsoleService" />
            <endpoint address="net.pipe://apphitsservice/4d48e2d6-2d23-430a-9c07-be96594d7ed4"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAppHits"
                contract="AppHitsService.IAppHits" name="NetNamedPipeBinding_IAppHits" />
        </client>
    </system.serviceModel>
</configuration>