<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TR.AppServer.Logging" type="System.Configuration.IgnoreSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <TR.AppServer.Logging appName="SystemTestService">
    <Appender name="LogReplicator" type="TR.AppServer.Logging.Appenders.ReplicatorAppender">
      <Threshold value="TRACE"/>
      <LogDirectory value="%AS_LOGS%\current"/>
    </Appender>
    <Appender name="Console" type="TR.AppServer.Logging.Appenders.ConsoleAppender">
      <Threshold value="TRACE"/>
    </Appender>
    <Root threshold="TRACE">
      <AppenderRef value="LogReplicator"/>
      <AppenderRef value="Console"/>
    </Root>
  </TR.AppServer.Logging>

  <appSettings>
    <!-- Scheduler -->
    <add key="IntervalMinute" value="1" />
    <add key="JobStartHour" value="2" />
    <add key="JobStartMinute" value="00" />
    <!-- Scheduler Ops Stat -->
    <add key="JobDumpIntervalMinute" value="5" />
    <add key="JobDumpDelayMinute" value="5" />
    
    <!-- RST DB -->
    <add key="RSTDBDev" value="172.20.26.208" />
    <add key="RSTDBAlpha" value="us1i-edbedbs01x.icp2.cpc.us1.reuintint.com" />
    <add key="RSTDBBeta" value="ntcs-xtadbs01x.cpc.ntc.reuppint.com" />
    <add key="RSTDBProd" value="dtcp-xtadbs01x.cpc.dtc.reuint.com" />
    <add key="DBConnStr" value="Data Source={0};Initial Catalog=rst_dw;Integrated Security=false;User ID={1};Password={2};Connect Timeout=60;Pooling=false" />        
    <add key="RSTDBUser" value="rstrwuser" />
    <add key="RSTDBPassword" value="rstrwpwd" />
    <add key="DBQueryTimeout" value="3600" />
    
    <!-- EDW FTP -->
    <add key="EDWFTPAlpha" value="dw-datadrop-dev.int.thomsonreuters.com" />
    <add key="EDWFTPBeta" value="dw-datadrop-qa.int.thomsonreuters.com" />
    <add key="EDWFTPProd" value="dw-datadrop-prod.int.thomsonreuters.com" />
    <add key="EDWFTPUser" value="trmdw" />
    <add key="EDWFTPPassword" value="f!l3pass" />
    <add key="EDWFTPPort" value="22" />
    <add key="FTPPathAlpha" value="/exafiles/TRMDW/dev/system-test" />
    <add key="FTPPathBeta" value="/exafiles/TRMDW/qa/system-test" />
    <add key="FTPPathProd" value="/exafiles/TRMDW/prod/system-test" />

    <!-- APP DB -->
    <add key="AppDBDev"   value="Data Source=(local);Initial Catalog=AppHits;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
    <add key="AppDBAlpha" value="Data Source=tcp:US1I-URFREFD01X.ICP2.AAAC.US1.REUINTINT.COM,1433;Initial Catalog=AppHits;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
    <add key="AppDBBeta"  value="Data Source=tcp:US1S-URFREFD01X.AAAC.US1.REUPPINT.COM,1433;Initial Catalog=AppHits;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
    <add key="AppDBProd"  value="Data Source=tcp:US1P-URFREFD01X.AAAC.US1.REUINT.COM,1433;Initial Catalog=AppHits;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1" />
    <add key="OpsDBDev"   value="Data Source=tcp:172.20.199.54;Initial Catalog=OpsConsole;Integrated Security=false;Connection Timeout=15;User ID=sa;Password=Bangkok123;" />
    <add key="OpsDBAlpha" value="Data Source=tcp:US1I-URFREFD01X.ICP2.AAAC.US1.REUINTINT.COM,1433;Initial Catalog=OpsConsole;Integrated Security=false;Connection Timeout=15;User ID=OpsConsole_Dbo;Password=Password1;" />
    <add key="OpsDBBeta"  value="Data Source=tcp:US1S-URFREFD01X.AAAC.US1.REUPPINT.COM,1433;Initial Catalog=OpsConsole;Integrated Security=false;Connection Timeout=15;User ID=OpsConsole_Dbo;Password=Password1;" />
    <add key="OpsDBProd"  value="Data Source=tcp:sql-cluster2.aaac.us.int.thomsonreuters.com,1433;Initial Catalog=OpsConsole;Integrated Security=false;Connection Timeout=15;User ID=OpsConsole_Dbo;Password=Password1;" />
    <add key="ApvDBDev"   value="Data Source=tcp:US1I-URFREFD01X.ICP2.AAAC.US1.REUINTINT.COM,1433;Initial Catalog=AppVersion;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
    <add key="ApvDBAlpha" value="Data Source=tcp:US1I-URFREFD01X.ICP2.AAAC.US1.REUINTINT.COM,1433;Initial Catalog=AppVersion;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
    <add key="ApvDBBeta"  value="Data Source=tcp:US1S-URFREFD01X.AAAC.US1.REUPPINT.COM,1433;Initial Catalog=AppVersion;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
    <add key="ApvDBProd"  value="Data Source=tcp:sql-cluster.aaac.us.int.thomsonreuters.com,1433;Initial Catalog=AppVersion;Integrated Security=false;Connection Timeout=15;User ID=AppHits_Dbo;Password=Password1;" />
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IOpsConsoleService" transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IUserInfoService" transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IAppHits" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://userinfoservice/495d6b40-b51f-4298-b378-f15c907cd401"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IUserInfoService"
        contract="UserInfoService.IUserInfoService" name="NetNamedPipeBinding_IUserInfoService" />
      <endpoint address="net.pipe://opsconsoleservice/8c0c3fb4-c8c3-4b1d-8135-8873cdfc8956"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOpsConsoleService"
        contract="OpsConsoleService.IOpsConsoleService" name="NetNamedPipeBinding_IOpsConsoleService" />
      <endpoint address="net.pipe://apphitsservice/a59ca600-9e30-4a0d-a101-c7b86a1653ea"
        binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAppHits"
        contract="AppHitsService.IAppHits" name="NetNamedPipeBinding_IAppHits" />
    </client>
  </system.serviceModel>
</configuration>
